@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bgOrange: #e84949;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    width: 1200px;
    margin: 0 auto; /*for centering*/
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.logo{
    width: 80px;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.nav-items{
    display: flex;
    gap: 2rem;

    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer; /*jab cursor udhar jayega toh pointer ka shape change ho jayega*/
}
.nav-items div a{
    color: black;
}
a{
    text-decoration: none;  /*hyperlinks ke niche text nhi chahiye*/
}
.nav-items div:hover{
    font-weight: bold;
    transition: 0.8s;
}